<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>325820138704-nrsacjloaiun3ojq66j1hrbbf4kku438.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325820138704-nrsacjloaiun3ojq66j1hrbbf4kku438</string>
	<key>API_KEY</key>
	<string>AIzaSyAq1X_8UCQSNLDYYGgs7o6v1OcNGykJjz4</string>
	<key>GCM_SENDER_ID</key>
	<string>325820138704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.TNFirebaseNotificationMessage</string>
	<key>PROJECT_ID</key>
	<string>login-e9188</string>
	<key>STORAGE_BUCKET</key>
	<string>login-e9188.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:325820138704:ios:bfc25cf578da7004</string>
	<key>DATABASE_URL</key>
	<string>https://login-e9188.firebaseio.com</string>
</dict>
</plist>